
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #f4f6f9;
    color: #333;
}


header {
    background: linear-gradient(90deg, #b30000, #ff4d4d);
    color: white;
    padding: 25px;
    text-align: center;
}

header h1 {
    font-size: 32px;
}

header p {
    margin-top: 8px;
    font-size: 16px;
}


nav {
    background: #222;
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    color: #ff4d4d;
}


.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 45%;
    left: 10%;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}


.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}

.card {
    background: white;
    width: 260px;
    margin: 20px;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

}


.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 80px;
    margin-bottom: 15px;
}


.page {
    padding: 40px;
    text-align: center;
}


.form {
    background: white;
    width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.form label {
    display: block;
    text-align: left;
    margin-top: 15px;
    font-weight: bold;
}

.form input, .form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
     border-radius: 6px;
     border: 1px solid #ccc;
    resize: none;
}


.form input:focus {
    border-color: #ff4d4d;
    outline: none;
}


.form button,
.page h2 {
    margin-top: 25px;
    color: darkred;
}

.page p {
    max-width: 800px;
    margin: 10px auto;
    line-height: 1.6;
}

.page button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #b30000, #ff4d4d);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.form button:hover {
    opacity: 0.9;
}


footer {
   
    color: rgb(14, 1, 1);
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}


@media (max-width: 768px) {
    .banner-text {
        font-size: 22px;
        left: 5%;
    }

    .container {
        flex-direction: column;
        padding: 20px;
    }

    .form {
        width: 90%;
    }
}
